*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background-color:rgb(53, 51, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(assets/wallpaper/background.svg) no-repeat;
    background-size:cover;
} */

.logo {
    /* font-family: "Abril Fatface", serif; */
    font-size: 4em;
    color:#d06666;
    user-select: none;
    text-shadow: black;
    /* font-weight: 400; */
}

.navigation a{
    position: relative;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px; 
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
    background-color: white;
    color: #162938;
    
}