

.forgot-password {
    position: relative;
    background-color: rgb(53, 51, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    animation: zoom 0.3s ease-in;
}

.forgot-password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-container h1 {
    color:#d06666;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.forgot-password-container p {
    font-size: 1.3em;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.emailInput {
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 20px;
}

.sendForgotPassword {
    width: 50%;
    font-size: 1.3em;
    border-radius: 8px;
}

.sendForgotPassword:hover {
    cursor: pointer;
}

.closeForgotPasswordIcon {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 1.5em;
    transition: 0.2s ease-in;

}

.closeForgotPasswordIcon:hover {
    cursor: pointer;
    color: #d06666;
    transition: 0.2s ease-in;
}

@keyframes zoom {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
