.Heart2white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_2_white.png);
}

.Heart3white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_3_white.png);
}

.Heart4white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_4_white.png);
}

.Heart5white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_5_white.png);
}

.Heart6white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_6_white.png);
}

.Heart7white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_7_white.png);
}

.Heart8white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_8_white.png);
}

.Heart9white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_9_white.png);
}

.Heart10white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_10_white.png);
}

.Diamond2white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_2_white.png);
}

.Diamond3white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_3_white.png);
}

.Diamond3white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_3_white.png);
}

.Diamond4white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_4_white.png);
}

.Diamond5white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_5_white.png);
}

.Diamond6white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_6_white.png);
}

.Diamond7white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_7_white.png);
}

.Diamond8white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_8_white.png);
}

.Diamond9white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_9_white.png);
}

.Diamond10white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_10_white.png);
}

.Club2white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_2_white.png);
}

.Club3white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_3_white.png);
}

.Club4white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_4_white.png);
}

.Club5white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_5_white.png);
}

.Club6white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_6_white.png);
}

.Club7white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_7_white.png);
}

.Club8white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_8_white.png);
}

.Club9white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_9_white.png);
}

.Club10white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_10_white.png);
}

.Spade2white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_2_white.png);
}

.Spade3white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_3_white.png);
}

.Spade4white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_4_white.png);
}

.Spade5white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_5_white.png);
}

.Spade6white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_6_white.png);
}

.Spade7white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_7_white.png);
}

.Spade8white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_8_white.png);
}

.Spade9white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_9_white.png);
}

.Spade10white {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_10_white.png);
}

.SpadeAwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_A_white.png);
}

.SpadeJwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_Jack_white.png);
}

.SpadeQwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_Queen_white.png);
}

.SpadeKwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Pikes_King_white.png);
}

.HeartAwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_A_white.png);
}

.HeartKwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_King_white.png);
}

.HeartQwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_Queen_white.png);
}

.HeartJwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Hearts_Jack_white.png);
}

.DiamondAwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_A_white.png);
}

.DiamondKwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_King_white.png);
}

.DiamondQwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_Queen_white.png);
}

.DiamondJwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Tiles_Jack_white.png);
}

.ClubAwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_A_white.png);
}

.ClubKwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_King_white.png);
}

.ClubQwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_Queen_white.png);
}

.ClubJwhite {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/whitePokerCards/Clovers_Jack_white.png);
}
