.Heart2black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart2.png);
}

.Heart3black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart3.png);
}

.Heart4black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart4.png);
}

.Heart5black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart5.png);
}

.Heart6black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart6.png);
}

.Heart7black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart7.png);
}

.Heart8black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart8.png);
}

.Heart9black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart9.png);
}

.Heart10black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Heart10.png);
}

.Diamond2black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond2.png);
}

.Diamond3black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond3.png);
}

.Diamond3black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond3.png);
}

.Diamond4black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond4.png);
}

.Diamond5black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond5.png);
}

.Diamond6black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond6.png);
}

.Diamond7black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond7.png);
}

.Diamond8black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond8.png);
}

.Diamond9black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond9.png);
}

.Diamond10black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Diamond10.png);
}

.Club2black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club2.png);
}

.Club3black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club3.png);
}

.Club4black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club4.png);
}

.Club5black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club5.png);
}

.Club6black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club6.png);
}

.Club7black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club7.png);
}

.Club8black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club8.png);
}

.Club9black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club9.png);
}

.Club10black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Club10.png);
}

.Spade2black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade2.png);
}

.Spade3black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade3.png);
}

.Spade4black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade4.png);
}

.Spade5black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade5.png);
}

.Spade6black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade6.png);
}

.Spade7black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade7.png);
}

.Spade8black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade8.png);
}

.Spade9black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade9.png);
}

.Spade10black {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/Spade10.png);
}

.SpadeAblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/SpadeA.png);
}

.SpadeJblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/SpadeJ.png);
}

.SpadeQblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/SpadeQ.png);
}

.SpadeKblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/SpadeK.png);
}

.HeartAblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/HeartA.png);
}

.HeartKblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/HeartK.png);
}

.HeartQblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/HeartQ.png);
}

.HeartJblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/HeartJ.png);
}

.DiamondAblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/DiamondA.png);
}

.DiamondKblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/DiamondK.png);
}

.DiamondQblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/DiamondQ.png);
}

.DiamondJblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/DiamondJ.png);
}

.ClubAblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/ClubA.png);
}

.ClubKblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/ClubK.png);
}

.ClubQblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/ClubQ.png);
}

.ClubJblack {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/blackPokerCards/ClubJ.png);
}
