
.Heart2 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart2.png);
}

.Heart3 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart3.png);
}

.Heart4 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart4.png);
}

.Heart5 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart5.png);
}

.Heart6 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart6.png);
}

.Heart7 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart7.png);
}

.Heart8 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart8.png);
}

.Heart9 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart9.png);
}

.Heart10 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Heart10.png);
}

.Diamond2{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond2.png);
}

.Diamond3{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond3.png);
}

.Diamond3{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond3.png);
}

.Diamond4{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond4.png);
}

.Diamond5{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond5.png);
}

.Diamond6{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond6.png);
}

.Diamond7{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond7.png);
}

.Diamond8{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond8.png);
}

.Diamond9{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond9.png);
}

.Diamond10{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Diamond10.png);
}

.Club2 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover2.png);
}

.Club3 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover3.png);
}

.Club4 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover4.png);
}

.Club5 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover5.png);
}

.Club6 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover6.png);
}

.Club7 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover7.png);
}

.Club8 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover8.png);
}

.Club9 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover9.png);
}

.Club10 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover10.png);
}

.Spade2 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover2.png);
}

.Spade3 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover3.png);
}


.Spade4 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover4.png);
}

.Spade5 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover5.png);
}

.Spade6 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover6.png);
}

.Spade7 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover7.png);
}

.Spade8 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover8.png);
}

.Spade9 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover9.png);
}

.Spade10 {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/Clover10.png);
}


.SpadeA {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverA.png);
}

.SpadeJ {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverJ.png);
}

.SpadeQ {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverQ.png);
}

.SpadeK {
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverK.png);
}

.HeartA{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/HeartA.png);
}

.HeartK{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/HeartK.png);
}

.HeartQ{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/HeartQ.png);
}

.HeartJ{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/HeartJ.png);
}

.DiamondA{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/DiamondA.png);
}

.DiamondK{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/DiamondK.png);
}

.DiamondQ{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/DiamondQ.png);
}

.DiamondJ{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/DiamondJ.png);
}

.ClubA{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverA.png);
}

.ClubK{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverK.png);
}

.ClubQ{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverQ.png);
}

.ClubJ{
    height: 100px;
    width: 70px;
    background-image: url(../../../../assets/pokerCards/CloverJ.png);

}
